@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "nprogress/nprogress.css";

html, body {
  height: 100%;
}

body {
  padding-top: 75px;

  #__next {
    height: 100%;
  }
}

#nprogress {
  .bar {
    background: #000;
  }

  .spinner-icon {
    border-top-color: #000;
    border-left-color: #000;  
  }

  .peg {
    box-shadow: 0 0 10px #000, 0 0 5px #000;
  }
}
